apiVersion: apps/v1
kind: Deployment
metadata:
  name: debug-custom-pod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: debug-tools
  template:
    metadata:
      labels:
        app: debug-tools
    spec:
      containers:
      - name: debug
        image: ubuntu:22.04
        command: ["/bin/sh", "-c"]
        args:
          - |
            export DEBIAN_FRONTEND=noninteractive && \
            apt update && \
            TZ=Europe/Moscow apt install -y tzdata && \
            apt install -y vim git tree wget htop net-tools iputils-ping traceroute iproute2 curl dnsutils && \
            sleep infinity
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        stdin: true
        tty: true
