{{- if .Values.debug.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nginx-app.fullname" . }}-debug
  labels:
    app: {{ include "nginx-app.fullname" . }}
    type: debug
spec:
  replicas: {{ .Values.debug.replicas | default 1 }}
  selector:
    matchLabels:
      app: debug-tools
  template:
    metadata:
      labels:
        app: debug-tools
    spec:
      containers:
      - name: debug
        image: {{ .Values.debug.image | default "ubuntu:22.04" }}
        command: ["/bin/sh"]
        args:
        - "-c"
        - |
          export DEBIAN_FRONTEND=noninteractive && \
          apt update && \
          TZ=Europe/Moscow apt install -y tzdata && \
          apt install -y vim git tree wget htop net-tools iputils-ping traceroute iproute2 curl dnsutils && \
          sleep infinity
        resources:
          requests:
            cpu: {{ .Values.debug.resources.requests.cpu | default "100m" }}
            memory: {{ .Values.debug.resources.requests.memory | default "128Mi" }}
          limits:
            cpu: {{ .Values.debug.resources.limits.cpu | default "500m" }}
            memory: {{ .Values.debug.resources.limits.memory | default "512Mi" }}
        stdin: true
        tty: true
{{- end -}}
