python-certifi-win32
pip-system-certs
pyodbc
numpy
pandas
pyOpenSSL
retry
simplejson
xlrd
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud
google-cloud-bigquery
google-cloud-core
google-cloud-speech
google-cloud-storage
google-crc32c
google-resumable-media
openpyxl
pywinrm
pymssql
curlify
scp
dbt-core==1.7.2
dbt-sqlserver==1.7.2
airflow-dbt-python
boto3
s3fs
s3transfer
dulwich
tqdm
dict2xml
webdavclient3
ldap3
py7zr
pytest
pytest-testdox
junitxml
pytest-cov
confluent_kafka
kafka-python
xlsxwriter
clickhouse-connect
yandex_tracker_client
datadog
businesstimedelta
holidays
pydantic
pydantic-settings
pika